services:
  nginx:
    image: nginx:latest
    container_name: aegis-shield-nginx-1
    ports:
      - "80:80"
    volumes:
      - nginx-logs:/var/log/nginx
    networks:
      - aegis-net
    command: >
      sh -c "
      echo 'worker_processes auto; events { worker_connections 1024; } http {
      log_format main \"$$remote_addr - $$remote_user [$$time_local] \\\"$$request\\\" $$status $$body_bytes_sent\";
      access_log /var/log/nginx/access.log main;
      server { listen 80; location / { root /usr/share/nginx/html; } } }' > /etc/nginx/nginx.conf &&
      nginx -g \"daemon off;\"
      "


  agent:
    build: ./agent
    container_name: aegis-shield-agent-1
    volumes:
      - nginx-logs:/var/log/nginx
      - ./data:/data
    networks:
      - aegis-net
    depends_on:
      - redis

  detection-engine:
    build: ./detection-engine
    container_name: aegis-shield-detection-engine-1
    ports:
      - "8000:8000"
    volumes:
      - ./dashboard:/dashboard
      - ./data:/data
    networks:
      - aegis-net
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: aegis-shield-redis-1
    networks:
      - aegis-net

volumes:
  nginx-logs:

networks:
  aegis-net:
    driver: bridge
